.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.bg-black{
    background-color: black;
    color: white;
}
.invert{
    filter: invert(1);
}
.bg-grey{
    background-color: #121212;
}
.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 5px;
}
.p-1{
    padding: 20px 25px;
}
.font{
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
}
/* For WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #333; /* Lighter color for the scrollbar thumb */
    border-radius: 6px; /* Rounded corners */
}

/* For Firefox */
html {
    scrollbar-width: thin;
    scrollbar-color: #333 transparent; /* Thumb color and track color */
}

/* Additional custom styling for hover effect */
::-webkit-scrollbar-thumb:hover {
    background-color: #aaa; /* Lighter color on hover */
}
